doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/css/error.css')
    title Page Not Found
  body
    h1 Page Not Found
    p Sorry, but the page you were trying to view does not exist.
