doctype html
html
  head
    title 2FA²P²
    meta(charset='UTF-8')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='/css/styles.css')
  body
    #menuContainer
      img#image(src='/img/cover.jpg')
      nav#navigation
        ul#left-menu
          li#product
            a(href='#1') Product
          li
            a(href='#1') Dev
          li
            a(href='#1') User
          li
            a(href='#1') About
        ul#right-menu
          //
            <li> <a id="loginBtn" href="#1"> Login </a> </li>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div <li> <a id="registerBtn" href="#1"> Register </a> </li>
        div(style='width:100%; min-width:100%;')
          .navContainerReg
            a#registerBtn(href='#2') Register
            .register-dropdown-content
              a#userRegBtn(href='#') User
              a#devRegBtn(href='#') Dev
          .navContainer
            a#loginBtn(href='#1') Login 
            .dropdown-content
              a#userLoginBtn(href='#') User
              a#devLoginBtn(href='#') Dev
    #devRegister.container
      form#devRegisterForm(action='/', method='post')
        h2
          | Create 2FA to get 
          span Started!
        hr
        .row
          .form-group.col-xs-6
            input.form-control(name='username', placeholder='Username')
        .row
          .form-group.col-xs-6
            input#devRegisterPassword.form-control(type='password', name='password', placeholder='Password')
        .row
          .form-group.col-xs-12
            input#devRegisterPassword.form-control(type='hidden', name='apikey', placeholder='Password' value='6a12dc05-7051-4c12-a03b-48d4809e337f')

      #wrapSubmitButton
        button#devRegisterSubmit.btn.btn-primary(type='submit') Submit
    #toast
      | Some text some message..
    hr
    footer.footer
      p © 2017 2FA, Inc.
    script(src='https://code.jquery.com/jquery-latest.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script.
      $(document).ready(function () {
      $("#product").click(function () {
      console.log("Cliked");
      $(".container").hide();
      });
      });
    script.
      function myFunction(y) {
      var x = document.getElementById("toast")
      $("#toast").text(y);
      x.className = "show";
      setTimeout(function () {
      x.className = x.className.replace("show", "");
      }, 3000);
      }
      function checkEmptyFields(formName) {
      var empty = true;
      $('#' + formName + ' *').filter(':input').each(function () {
      if (!$(this).val()) {
      empty = false;
      myFunction("Please fill out all fields.");
      }
      });
      return empty;
      }
      function checkPasswordFields(firstField, secondField) {
      var match = true;
      console.log("CHECKING");
      if ($(firstField).val() !== $(secondField).val()) {
      match = false;
      myFunction("Passwords don't match");
      }
      return match;
      }

    script.
      $("#testBtn").click(function (e) {
      $.ajax({
      url: "https://localhost:443/getUsers",
      type: "get",
      complete: function (data) {
      console.log("Finished");
      console.log(data);
      },
      success: function (data) {
      console.log("SUCCESS");
      console.log(data);
      },
      error: function (err) {
      console.log("ERROR");
      console.log(err);
      //called when there is an error
      },
      })
      /*var checked = checkEmptyFields("testFormTest");
      if(checked){checked = (checkPasswordFields(jose,jose1));}
      if(checked){
      }*/
      });
      $("#devRegisterSubmit").click(function (e) {
      console.log("test");
      var checked = checkEmptyFields("devRegisterForm");
      //if (checked) {
      //checked = (checkPasswordFields(devRegisterPassword, devRegisterPasswordCheck));
     // }
      console.log(checked);
      if (checked) {
      var data = $("#devRegisterForm").serialize();
      var checked = checkEmptyFields("devRegisterForm");
      console.log(data);
      $.ajax({  
        beforeSend: function(request) {
        request.setRequestHeader("api_key", "1486efa8-fb58-41cd-ab5a-9fa9b3091f27");
      },
      url: "https://localhost:443/verifyCode",
      type: 'POST',
      dataType: 'json',
      data: data,
      //data: JSON.stringify(data),
      complete: function (x) {
      console.log("Finished");
      console.log(x);
      },
      success: function (y) {
      console.log(y);
      console.log(y.resp.status)
      if (y.resp.status === 1) {
      myFunction("User already Exists");
      }
      if (y.resp.status === 0) {
      myFunction("Successfully Registered");
      }
      },
      error: function (err) {
      console.log(err);
      },
      })
      }
      });
